 *{
    margin: 0;
    /* box-sizing: border-box; */
    /* background-color:#c3dae6d0; */
}

body{
    background-color: #c3dae6d0
} */


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

.nav-right {
    display: flex;
    justify-content: flex-end;  
}

.introduction {
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about,
.projects {
    /* border: 8px black solid; */
    justify-content: center;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: white;
}

.row {
    text-align: center;
    /* border: 1px solid black; */
}

.col {
    /* border: 1px solid black; */
}

.fab,
.fas{
    font-size: 100px;
}
.footer{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#right {
    text-align: center;
}